/.cache/
/.mc-lists.el
/autosave/
/bookmarks
/custom.el
/elfeed/
/eln-cache/
/elpa
/forge-database.sqlite
/hackernews/
/history
/ido.last
/local.el
/newsticker/
/places
/projectile-bookmarks.eld
/recentf
/transient/
/tramp
/tree-sitter/*.dylib
/url/