.netrwhist
_emacs.d/elpa
_emacs.d/autosave
_emacs.d/auto-save-list
_emacs.d/ido.last
_emacs.d/url
_emacs.d.old/elpa
_emacs.d.old/custom.el
_emacs.d.old/ido.last
_emacs.d.old/projectile-bookmarks.eld
_emacs.d.old/recentf
_emacs.d.old/history
_spacemacs.d/custom.el
vimfiles/bundle
.\#*
\#*\#

#py
__pycache__
*.pyc
