[submodule "vimfiles/bundle/vim-wombat256mod"]
    path = vimfiles/bundle/vim-wombat256mod
	url = https://github.com/michalbachowski/vim-wombat256mod
[submodule "vimfiles/bundle/vim-distinguished"]
    path = vimfiles/bundle/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished
[submodule "vimfiles/bundle/vim-irblack"]
    path = vimfiles/bundle/vim-irblack
	url = https://github.com/wesgibbs/vim-irblack
[submodule "vimfiles/bundle/nerdtree"]
    path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vimfiles/bundle/molokai"]
    path = vimfiles/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vimfiles/bundle/colorzone"]
    path = vimfiles/bundle/colorzone
	url = https://github.com/vim-scripts/Colorzone
[submodule "vimfiles/bundle/solarized"]
    path = vimfiles/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/github-theme"]
    path = vimfiles/bundle/github-theme
	url = https://github.com/ricardovaleriano/vim-github-theme.git
[submodule "vimfiles/bundle/fugitive"]
    path = vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimfiles/bundle/vim-javascript"]
    path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/ultisnips"]
    path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vimfiles/bundle/vim-snippets"]
    path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vimfiles/bundle/command-t"]
    path = vimfiles/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vimfiles/bundle/vim-ruby"]
    path = vimfiles/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vimfiles/bundle/vm-ruby-minitest"]
    path = vimfiles/bundle/vm-ruby-minitest
	url = https://github.com/sunaku/vim-ruby-minitest
[submodule "vimfiles/bundle/nerd-commenter"]
    path = vimfiles/bundle/nerd-commenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/vim-surround"]
    path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".org"]
	path = .org
    url = git@github.com:shitikanth/org
    branch = 2015_summer
[submodule "vimfiles/bundle/bclear"]
    path = vimfiles/bundle/bclear
	url = https://github.com/vim-scripts/bclear.git
[submodule "vimfiles/bundle/tangoX"]
    path = vimfiles/bundle/tangoX
	url = https://github.com/iissnan/tangoX
[submodule "vimfiles/bundle/cvim"]
    path = vimfiles/bundle/cvim
	url = https://github.com/HenningM/cvim-pathogen.git
[submodule "vimfiles/bundle/tabular"]
    path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/vim2hs"]
	path = vimfiles/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "vimfiles/bundle/emmet-vim"]
	path = vimfiles/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vimfiles/bundle/vimproc"]
	path = vimfiles/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/ghcmod-vim"]
	path = vimfiles/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vimfiles/bundle/ycm"]
	path = vimfiles/bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vimfiles/bundle/ack"]
	path = vimfiles/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vimfiles/bundle/python-mode"]
	path = vimfiles/bundle/python-mode
	url = git://github.com/klen/python-mode.git
