[submodule "vimfiles/bundle/cvim"]
	path = vimfiles/bundle/cvim
	url = https://github.com/HenningM/cvim-pathogen.git
[submodule ".oh-my-zsh"]
	path = _oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".org"]
	path = _org
	url = ssh://git@github.com/shitikanth/org.git
[submodule "bundle/Vundle.vim"]
	path = vimfiles/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "_emacs.d"]
	path = _emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "w3m"]
	path = _spacemacs.d/layers/w3m
	url = ssh://git@github.com/shitikanth/w3m-layer.git
