[submodule "vimfiles/bundle/cvim"]
	path = vimfiles/bundle/cvim
	url = https://github.com/HenningM/cvim-pathogen.git
[submodule ".oh-my-zsh"]
	path = _oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".org"]
	path = _org
	url = ssh://git@github.com/shitikanth/org.git
[submodule "bundle/Vundle.vim"]
	path = vimfiles/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
