snippet %%% "Latex comment block"
`!p l=72; w=len(t[1]); x=(l-w-2)/2; y=l-x-w-2; snip.rv=l*'%'` 
%`!p snip.rv=x*" ";`${1:comment}`!p snip.rv=y*" ";`%
`!p snip.rv=l*'%'`
endsnippet

snippet left "\left( \right)"
\left${1:(} ${2} \right`!p 
d = dict(zip("({[",")}]")); key=t[1];
snip.rv = d[key] if key in d else key` <++>
endsnippet

snippet $ "\( formula\) <++>"
\( ${1:formula} \) <++>
endsnippet

